{% extends "bootstrap/base.html" %}
{% block title %}Input Zone Information{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
{% endblock %}

{% block scripts %}
{% endblock %}


{% block content %}
<tr><td>
<div class="container-fluid">

{% if data['iptype'] == 'PRIVATE' %}
The IP addreses provided:
<ul>
	<li>{{ data['ip1'] }}</li>
	<li>{{ data['ip2'] }}</li>
	<li>{{ data['ip3'] }}</li>
</ul>

<br>Are non-routable addresses.
<br>Google requires that you provide public IP addresses for resolvers.  
<br>Please regenerate your zone with public IPs attached to your nodes.

{% else %}

<h3> You will need to replace the project name (GCP_PROJECT_CHANGE_ME) and the zone name (ZONE_NAME_CHANGE_ME) with your own information</h3><br><br>

<pre>
gcloud beta dns --project=GCP_PROJECT_CHANGE_ME record-sets transaction start --zone="ZONE_NAME_CHANGE_ME"

gcloud beta dns --project=GCP_PROJECT_CHANGE_ME record-sets transaction \
  add ns1.{{ data['prefix'] }}.{{ data['tld'] }}. ns2.{{ data['prefix'] }}.{{ data['tld'] }}. ns3.{{ data['prefix'] }}.{{ data['tld'] }}. \
  --name="{{ data['fqdn'] }}." --ttl="300" --type="NS" --zone="ZONE_NAME_CHANGE_ME"

gcloud beta dns --project=GCP_PROJECT_CHANGE_ME record-sets transaction add {{ data['ip1'] }} --name="ns1.{{ data['fqdn'] }}." --ttl="300" --type="A" --zone="ZONE_NAME_CHANGE_ME"
gcloud beta dns --project=GCP_PROJECT_CHANGE_ME record-sets transaction add {{ data['ip2'] }} --name="ns2.{{ data['fqdn'] }}." --ttl="300" --type="A" --zone="ZONE_NAME_CHANGE_ME"
gcloud beta dns --project=GCP_PROJECT_CHANGE_ME record-sets transaction add {{ data['ip3'] }} --name="ns3.{{ data['fqdn'] }}." --ttl="300" --type="A" --zone="ZONE_NAME_CHANGE_ME"

gcloud beta dns --project=GCP_PROJECT_CHANGE_ME record-sets transaction execute --zone="ZONE_NAME_CHANGE_ME"


</pre>
{% endif %}
    
</div>
{% endblock %}
