{% extends "bootstrap/base.html" %}
{% block title %}Input Zone Information{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
{% endblock %}

{% block scripts %}
{% endblock %}


{% block content %}
<tr><td>
<div class="container-fluid">

{% if data['iptype'] == 'PRIVATE' %}
The IP addreses provided:
<ul>
        <li>{{ data['ip1'] }}</li>
        <li>{{ data['ip2'] }}</li>
        <li>{{ data['ip3'] }}</li>
</ul>

<br>Are non-routable addresses.
<br>Google requires that you provide public IP addresses for resolvers.
<br>Please regenerate your zone with public IPs attached to your nodes.


<br>
{% else %}

Modify the locals section to update your zone resource group

<br><br>

<pre>

##########################################################################
# Modify dns_zone to match your local resource group
locals {
  dns_zone            = CHANGE_ME
  cluster_prefix      = "{{ data['prefix'] }}"
  zone-name           = "{{ data['tld'] }}"
  node-external-ips   = ["{{data['ip1']}}", "{{data['ip2']}}", "{{data['ip3']}}"]
}
##########################################################################

resource "google_dns_record_set" "re_a" {
    count        = len(node-external-ips)
    managed_zone = local.dns_zone
    name         = "ns${count.index + 1}.${local.cluster-prefix}.${local.zone-name}"
    type         = "A"
    ttl          = 300
    rrdatas      =  [ element(local.node-external-ips, count.index) ]
}

resource "google_dns_record_set" "re_ns" {
    managed_zone = local.dns_zone
    name         = "${local.cluster-prefix}.${local.zone-name}"
    type         = "NS"
    ttl          = 300
    rrdatas      = google_dns_record_set.re_a.*.name
    depends_on   = [google_dns_record_set.re_a]
}

</pre>

{% endif %}
</div>
{% endblock %}
