{% extends "bootstrap/base.html" %}
{% block title %}Input Zone Information{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
{% endblock %}

{% block scripts %}
{% endblock %}


{% block content %}
<tr><td>
<div class="container-fluid">

<h3> Try the <a href="https://github.com/Redislabs-Solution-Architects/dnstracer">DNS Tracer Tool</a> </h3>

</div>
{% endblock %}
